<p>Bonjour <%= @resource.name || @resource.email %>,</p>

<p>Vous avez demandé une réinitialisation de votre mot de passe pour Gifters. Vous pouvez le faire en cliquant sur le lien ci-dessous :</p>

<% reset_url = "#{@frontend_url || Rails.application.config.frontend_url}/reset-password?reset_password_token=#{@token}" %>
<p><%= link_to 'Réinitialiser mon mot de passe', reset_url %></p>

<p>Si vous n'avez pas demandé cette réinitialisation, veuillez ignorer cet email.</p>
<p>Votre mot de passe ne changera pas tant que vous n'aurez pas cliqué sur le lien ci-dessus et créé un nouveau mot de passe.</p>

<p>L'équipe Gifters</p>
